In [55]:
#importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [56]:
#Reading the data
data=pd.read_csv('Salarydata.csv')

In [57]:
#determining the items of the data
data.head(10)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0
5              2.9  56642.0
6              3.0  60150.0
7              3.2  54445.0
8              3.2  64445.0
9              3.7  57189.0

In [58]:
#to check the number of rows and columns present in the dataset
data.shape

(30, 2)

In [59]:
#defining the input and ouputs
X=np.array(data.iloc[:,0].values)
y=np.array(data.iloc[:,1].values)

In [60]:
#finding the mean
X_mean=np.mean(X)
y_mean=np.mean(y)

In [61]:
X_mean

5.3133333333333335

In [62]:
y_mean

76003.0

In [63]:
#defining the numerator and denominator of gradient
m_numerator=(X-X_mean)*(y-y_mean)
m_denominator=(X-X_mean)**2

In [64]:
m=m_numerator.sum()/m_denominator.sum()
b=y_mean-(m*X_mean)

In [65]:
m

9449.962321455077

In [71]:
#creating a class of Linear Regression which uses Ordinary Least Square method
class LinearRegression:
    def __init__(self):
        self.num=0
        self.denom=0
        self.m=0
        self.b=0
    def fit(self,X,y):
        X_mean=np.mean(X)
        y_mean=np.mean(y)
        N=len(X)
        for i in range(N):
            self.num+=(X[i]-X_mean)*(y[i]-y_mean)
            self.denom+=(X[i]-X_mean)**2
        self.m+=self.num/self.denom
        self.b+=y_mean-(self.m*X_mean)
        return self
    def predict(self,X):
        return self.m*X+self.b

In [72]:
#splitting the data for training and testing
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [73]:
#creating an object for the LinearRegression class
regressor=LinearRegression()

In [74]:
#fitting the training data
regressor.fit(X_train,y_train)

In [75]:
#predicting the output 
y_pred=regressor.predict(X_test)
y_pred

array([ 40748.96184072, 122699.62295594,  64961.65717022,  63099.14214487,
       115249.56285456, 107799.50275317])

In [78]:
#determining the accuracy of the model
from sklearn.metrics import r2_score
accuracy=r2_score(y_test,y_pred)*100

In [79]:
print("The accuracy is",accuracy)

The accuracy is 98.8169515729126